<% include ../partials/header %>
<div class="container">
        <ul>
                <table class="table table-striped">
                    <thead class="thead-dark">
                        <tr>
                            <th>ID</td>
                            <th>Name</th>
                            <th>Major</th>
                        </tr>
                    </thead>   
            <% data.students.forEach(function(std){ %>
                    <tr>
                        <td><%= std.sid %></td>
                        <td><%= std.name %></td>
                        <td><%= std.major %></td>
                    </tr>
            <% });%> 
        </table>
        </ul>
    </div>
<% include ../partials/footer %>    